*{
    padding: 0;
    margin: 0;
    border-sizing: border-box;


}

body{
    background-color: black;
   

}

.container{
        height: 500px;
        width: 500px;
         display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.box{
    background-color: bisque;
}

.first{
        grid-row: 1/4;
}

.second{
    grid-column: 2/4;
}

.sixth{
    grid-row: 2/4;
    grid-column: 4/5;
}