
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    padding: 30px;
}

.blog-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: yellowgreen;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
}

.content {
    display: flex;
    gap: 20px;
}

.content img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid #c8e6c9;
}

.content p {
    font-size: 18px;
    line-height: 1.8;
    color: rgb(58, 8, 8);
    text-align: left;
}

@media (max-width: 700px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .content img {
        width: 100%;
    }
}