
.container{
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    height: 100px;
    width: 100px;
}

.first{
    background-color:brown;
    flex-grow: 2;
}

.second{
        background-color: chartreuse;
        flex-grow: 1;
}

.third{
        background-color: dimgray;
        flex-grow: 1;
        align-self: flex-start;
}

.fourth{
        background-color: mediumblue;
        flex-grow: 1;
}