*{
    padding: 0;
    margin: 0;

}

body{
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    background-color: blue;
    color: white;

}

.container{
    background-color: forestgreen;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 30px;
    

}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 700;
}